*{
  margin: 0;
}
body{
  width: 100%;
  height: 100%;
}
header{


}
.laescala{
font-family: helvetica;
flex-direction: column;
width: 20%;
top: 0%;
left: 0%;
position: fixed;
text-align: center;
justify-content: center;
background-color: rgba(255, 202, 8, 0.7);
padding: 1%;
}
.paginas{
font-family: helvetica;
display: flex;
width: 30%;
top: 0%;
right: 5%;
position: absolute;
justify-content: space-between;
margin-top: 1.5%;
}
.paginas a{
  text-decoration:none;
  color: grey;
  font-size: 140%;
  padding: 5%;
}
section{
  margin-top: 6.5%;
  margin-bottom: 5%;
  background: rgb(251, 255, 252);
  max-width: 100%;
  max-height: 100%;
  font-family: helvetica;
}
section div{
  display: flex;
  margin-bottom: 1%;
  flex: 0 1 100%;
  box-sizing: border-box;
  justify-content: center;
  padding: 2%;
}

.artista1 .fotoartista1,.artista3 .fotoartista3,.artista5 .fotoartista5,.artista7 .fotoartista7,.artista9 .fotoartista9 {
  flex: 0 0 70%;
  max-width: 50%;
  margin: 3%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.5em;
  justify-content: center;
  box-sizing: border-box;
}
.artista1 .fotoartista1 img,.artista3 .fotoartista3 img,.artista5 .fotoartista5 img,.artista7 .fotoartista7 img,.artista9 .fotoartista9 img{
  width: 100%;
  height: 100%;
  align-content: center;
}
.artista1 .resena1,.artista3 .resena3,.artista5 .resena5,.artista7 .resena7,.artista9 .resena9{
  flex: 0 0 35%;
  justify-content: center;
  margin: 1%;
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 1%;
  flex-shrink: 1;
}

.artista2 .fotoartista2,.artista4 .fotoartista4,.artista6 .fotoartista6,.artista8 .fotoartista8,.artista10 .fotoartista10 {
  flex: 0 0 70%;
  max-width: 50%;
  margin: 3%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.5em;
  justify-content: center;
  box-sizing: border-box;
}
.artista2 .fotoartista2 img,.artista4 .fotoartista4 img,.artista6 .fotoartista6 img,.artista8 .fotoartista8 img,.artista10 .fotoartista10 img{
  width: 100%;
  height: 100%;
}
.artista2 .resena2,.artista4 .resena4,.artista6 .resena6,.artista8 .resena8,.artista10 .resena10{
  flex: 0 0 35%;
  justify-content: center;
  margin: 1%;
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 1%;
  flex-shrink: 1;
}
#botonobraartista{
background: rgb(206, 215, 24);
padding: 1em;
border: 1px solid black;
border-radius: 1em;
margin: 4em;
text-align: center;
text-decoration: none;
color: black;
font-family: helvetica;

}

footer{
	background-color: black;
	position: fixed;
	bottom: 0;
	display: inline-block;
	text-align: center;
	width: 100%;
	height: 60px;
	color: white;
}
