*{
margin: 0;
}
body{
  width: 100%;
  height: 100%;
}
header{
margin-top: 1%;
align-items: center;
}
.laescala{
font-family: helvetica;
flex-direction: column;
width: 20%;
top: 0%;
left: 18%;
position: relative;
text-align: center;
justify-content: center;
background-color: rgba(255, 202, 8);
padding: 0.5% 5% 0.5% 5%;
}
.paginas{
font-family: helvetica;
display: flex;
width: 30%;
top: 3.5%;
right: 2%;
position: absolute;
justify-content: space-between;
margin-top: 1.5%;

padding: 0 4% 0 4%;
}
.paginas a{
  text-decoration:none;
  color: rgb(97, 69, 67);
  font-size: 140%;
  padding: 3.5%;
  font-weight: 600;
  font-family: times;

}
section{
    margin-top: 1.5%;
    margin-bottom: 5%;
    background: white;
    max-width: 100%;
    max-height: 100%;
    font-family: times;
    border-top: 4px double rgb(97, 69, 67);
  }
.imagenesinicio{
  height: 70%;
  width: 95%;
  position: relative;
  top: 0;
  left: 2.5%;
  overflow: hidden;
  align-content: center;

}
.imagenesinicio ul{
  display: flex;
  padding: 0;
  width: 1500%;

  -webkit-animation: cambio 150s infinite;
  animation-direction: alternate;
}
.imagenesinicio li{
  height: 100%;
  width: 100%;
  list-style: none;
}
.imagenesinicio img{
  height: 100%;
  width: 100%;
}
@keyframes cambio{

  0%{ margin-left: 0;}
  4%{margin-left: 0;}

  6.66666%{margin-left: -100%}
  10%{margin-left: -100%}

  13.33332%{margin-left: -200%}
  15%{margin-left: -200%}

  19.9999%{margin-left: -300%}
  22%{margin-left: -300%}

  26.66658%{margin-left: -400%}
  30%{margin-left: -400%}

  33.33324%{margin-left: -500%}
  35%{margin-left: -500%}

  39.99990%{margin-left: -600%}
  42%{margin-left: -600%}

  46.66656%{margin-left: -700%}
  50%{margin-left: -700%}

  53.33322%{margin-left: -800%}
  55%{margin-left: -800%}

  59.99988%{margin-left: -900%}
  62%{margin-left: -900%}

  66.66654%{margin-left: -1000%}
  70%{margin-left: -1000%}

  73.33320%{margin-left: -1100%}
  75%{margin-left: -1100%}

  79.99986%{margin-left: -1200%}
  82%{margin-left: -1200%}

  86.66652%{margin-left: -1300%}
  90%{margin-left: -1300%}

  93.33318%{margin-left: -1400%}
  100%{margin-left: -1400%}
}
.exhibicionesactuales{
  background-color: rgba(255, 202, 8, 0.7);
  height: 30%;
  width: 70%;
  padding: 0 3% 0% 3%;
  display: flex;
  flex-direction: column;
  position: relative;
  top:-2em;
  left: 13%;

}

.exhibicionesactuales h1{
  background-color: rgb(27, 26, 27);
  color: white;
  text-align: center;
  padding: 2%;
}

.infoexhibicionesactuales1{
  border: 1px solid black;
  margin-top: 2%;
  padding: 2%;
  background-color: rgba(255, 202, 8);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.infoexhibicionesactuales .fecha1{
  display: flex;
  flex-basis: 10%;
  flex-grow: 1;
  margin-bottom: 0%;
}
.infoexhibicionesactuales .autor1{
  display: flex;
  flex-basis: 20%;
  flex-grow: 2;
  border: 1px solid black;
  margin-bottom: 0%;
}
.infoexhibicionesactuales .nombreexpo1{
  display: flex;
  flex-basis: 70%;
  flex-grow: 2;
  border: 1px solid black;
  margin-bottom: 0%;
}
.infoexhibicionesactuales2{
  border: 1px solid black;
  margin-top: 2%;
  padding: 2%;
  background-color: rgba(255, 202, 8);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.infoexhibicionesactuales .fecha2{
  display: flex;
  flex-basis: 10%;
  flex-grow: 1;
  margin-bottom: 0%;
}
.infoexhibicionesactuales .autor2{
  display: flex;
  flex-basis: 20%;
  flex-grow: 2;
  margin-bottom: 0%;
}
.infoexhibicionesactuales .nombreexpo2{
  display: flex;
  flex-basis: 70%;
  flex-grow: 2;
  margin-bottom: 0%;
}
.infoexhibicionesactuales3{
  border: 1px solid black;
  margin-top: 2%;
  padding: 2%;
  background-color: rgba(255, 202, 8);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.infoexhibicionesactuales .fecha3{
  display: flex;
  flex-basis: 10%;
  flex-grow: 1;
  margin-bottom: 0%;
}
.infoexhibicionesactuales .autor3{
  display: flex;
  flex-basis: 20%;
  flex-grow: 2;
  margin-bottom: 0%;
}
.infoexhibicionesactuales .nombreexpo3{
  display: flex;
  flex-basis: 70%;
  flex-grow: 2;
  margin-bottom: 0%;
}

h1, p{
	font-weight: bold;
	position: relative;

}


footer{
  background-color: black;
	position: relative;
	bottom: 0;
	display: flex;
	text-align: center;
	width: 100%;
	height: 90px;
	color: white;
}
.horario{
  position: absolute;
  width: 20%;
  bottom: 1em;
  padding-top: 0.5%;
  font-size: 1em;
  left: 3%;
}
.direccion{
  position: absolute;
  width: 20%;
  bottom: 1em;
  padding-top: 0.5%;
  font-size: 1em;
  left: 30%;
}
.redessociales{
  position: absolute;
  width: 20%;
  bottom: 3em;
  padding: 0%;
  font-size: 1em;
  left: 70%;
}
