*{
margin: 0;
}
body{
  margin: 10px;
  min-height: 150%;
}
header{
  background:rgb(251, 255, 252);
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  display: inline-block;

}
.laescala{
font-family: helvetica;
display: flex;
flex-direction: column;
flex-basis: 30%;
height: 30%;;
flex-grow: 1;

padding: 3%;
top: 5%;
left: 2%;
text-align: center;
justify-content: center;
background-color: #FFCA08;
}
.paginas{
font-family: helvetica;
display: flex;
flex-direction: column;
flex-basis: 82%;
flex-grow: 1;
text-align: center;
background-color: rgba(255, 202, 8, 0.7);
}
.paginas a{
  text-decoration:none;
  color: grey;
  font-size: 140%;
  display: inline-block;
  flex-basis: 10%;
  justify-content: center;
  align-items: center;
  display: flex;
}
section{
  background-color:rgb(251, 255, 252);
  height: 150%;
  display: flex;
  margin-left: 20%;
  flex-basis: 80%;

}
.imagenesinicio{
  height: 60%;
  width: 78.5%;
  position: absolute;
  top: 10%;
  overflow: hidden;

}
.imagenesinicio ul{
  display: flex;
  padding: 0;
  width: 1500%;

  -webkit-animation: cambio 75s infinite;
  animation-direction: alternate;
}
.imagenesinicio li{
  height: 100%;
  width: 100%;
  list-style: none;
}
.imagenesinicio img{
  height: 100%;
  width: 100%;
}
@keyframes cambio{

  0%{ margin-left: 0;}
  6%{margin-left: 0;}

  6.66666%{margin-left: -100%}
  10%{margin-left: -100%}

  13.33332%{margin-left: -200%}
  15%{margin-left: -200%}

  19.9999%{margin-left: -300%}
  22%{margin-left: -300%}

  26.66658%{margin-left: -400%}
  30%{margin-left: -400%}

  33.33324%{margin-left: -500%}
  35%{margin-left: -500%}

  39.99990%{margin-left: -600%}
  42%{margin-left: -600%}

  46.66656%{margin-left: -700%}
  50%{margin-left: -700%}

  53.33322%{margin-left: -800%}
  55%{margin-left: -800%}

  59.99988%{margin-left: -900%}
  62%{margin-left: -900%}

  66.66654%{margin-left: -1000%}
  70%{margin-left: -1000%}

  73.33320%{margin-left: -1100%}
  75%{margin-left: -1100%}

  79.99986%{margin-left: -1200%}
  82%{margin-left: -1200%}

  86.66652%{margin-left: -1300%}
  90%{margin-left: -1300%}

  93.33318%{margin-left: -1400%}
  100%{margin-left: -1400%}
}
.exhibicionesactuales{
  background-color: rgba(255, 202, 8, 0.7);
  height: 30%;
  width: 70%;
  padding: 0 5% 2% 5%;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 41.5%;
  left: 13%;

}

.exhibicionesactuales h1{
  background-color: black;
  color: white;
  text-align: center;
  padding: 2%;
}

.infoexhibicionesactuales1{
  border: 1px solid black;
  margin-top: 2%;
  padding: 2%;
  background-color: yellow;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.infoexhibicionesactuales .fecha1{
  display: flex;
  flex-basis: 10%;
  flex-grow: 1;
  margin-bottom: 0%;
}
.infoexhibicionesactuales .autor1{
  display: flex;
  flex-basis: 20%;
  flex-grow: 2;
  border: 1px solid black;
  margin-bottom: 0%;
}
.infoexhibicionesactuales .nombreexpo1{
  display: flex;
  flex-basis: 70%;
  flex-grow: 2;
  border: 1px solid black;
  margin-bottom: 0%;
}
.infoexhibicionesactuales2{
  border: 1px solid black;
  margin-top: 2%;
  padding: 2%;
  background-color: yellow;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.infoexhibicionesactuales .fecha2{
  display: flex;
  flex-basis: 10%;
  flex-grow: 1;
  margin-bottom: 0%;
}
.infoexhibicionesactuales .autor2{
  display: flex;
  flex-basis: 20%;
  flex-grow: 2;
  margin-bottom: 0%;
}
.infoexhibicionesactuales .nombreexpo2{
  display: flex;
  flex-basis: 70%;
  flex-grow: 2;
  margin-bottom: 0%;
}
.infoexhibicionesactuales3{
  border: 1px solid black;
  margin-top: 2%;
  padding: 2%;
  background-color: yellow;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.infoexhibicionesactuales .fecha3{
  display: flex;
  flex-basis: 10%;
  flex-grow: 1;
  margin-bottom: 0%;
}
.infoexhibicionesactuales .autor3{
  display: flex;
  flex-basis: 20%;
  flex-grow: 2;
  margin-bottom: 0%;
}
.infoexhibicionesactuales .nombreexpo3{
  display: flex;
  flex-basis: 70%;
  flex-grow: 2;
  margin-bottom: 0%;
}
.horario{
  position: absolute;
  background-color: orange;
  width: 20%;
  top: 110%;
  padding: 3%;
}

h1, p{
	font-weight: bold;
	position: relative;

}


footer{
	background-color: black;
	position: fixed;
	bottom: 0;
	display: inline-block;
	text-align: center;
	width: 100%;
	height: 60px;
		color: white;
}
